---
import PythonLogoOnly from '../../assets/python-logo-only.svg'

interface Props {
  size?: 'size-4' | 'size-12'
  textColorClass?: string
  withLabel?: boolean | null | undefined
}

const { size, withLabel, textColorClass } = Astro.props

const sizeClass = size || 'size-4'
---

<span class:list={['font-bold', textColorClass || 'text-gray-200']}>
  <PythonLogoOnly class:list={['inline maxwebsite-inline-icon', sizeClass]} />

  {withLabel && ' Python'}
</span>
