---
import AstroLogo from '../../assets/Astro.svg'
import Socials from '../Socials.astro'
---

<div
  class="container flex flex-col gap-16 px-3 mx-auto mt-24 mb-16 lg:flex-row"
>
  <div class="lg:w-2/3">
    <h3 class="mb-4 text-3xl font-semibold text-gray-700 maxwebsite-font-title">
      Other projects
    </h3>

    <ul class="pl-6 text-justify list-disc">
      <li class="mt-1">
        <a
          class="wrap-break-word link"
          href="https://github.com/maksimoreo/maksimoreo.github.io"
          target="_blank"
        >
          github.com/maksimoreo/maksimoreo.github.io
        </a>{' '}
        - this portfolio webpage
      </li>

      <li class="mt-1">
        <a
          class="wrap-break-word link"
          href="https://github.com/mkvtech/game2048"
          target="_blank"
        >
          github.com/mkvtech/game2048
        </a>{' '}
        - clone of a popular{' '}
        <a
          class="link"
          href="https://en.wikipedia.org/wiki/2048_(video_game)"
          target="_blank"
        >
          2048 puzzle game
        </a>
        , written in Java and JavaFX
      </li>

      <li class="mt-1">
        <a
          class="wrap-break-word link"
          href="https://github.com/maksimoreo/ruby-mastermind"
          target="_blank"
        >
          github.com/maksimoreo/ruby-mastermind
        </a>{' '}
        - Mastermind terminal puzzle game implementation in Ruby. Works in browser:{
          ' '
        }
        <a
          class="link"
          href="https://maksimoreo.github.io/ruby-mastermind/"
          target="_blank"
        >
          here
        </a>
      </li>

      <li class="mt-1">
        Please see more projects on my GitHub profiles:{' '}
        <a
          class="wrap-break-word link"
          href="https://github.com/maksimoreo"
          target="_blank"
        >
          github.com/maksimoreo
        </a>{' '}
        and{' '}
        <a
          class="wrap-break-word link"
          href="https://github.com/mkvtech"
          target="_blank"
        >
          github.com/mkvtech
        </a>
      </li>
    </ul>
  </div>

  <div class="lg:w-1/3">
    <h3 class="mb-4 text-3xl font-semibold text-gray-700 maxwebsite-font-title">
      My socials
    </h3>

    <Socials />
  </div>
</div>

<div class="mt-16 mb-12 text-center">
  This website is crafted with

  <a
    class="wrap-break-word link ml-1 mr-2"
    href="https://astro.build/"
    target="_blank"
  >
    <AstroLogo class="size-6 inline" /> Astro
  </a>

  and here is{' '}
  <a
    class="wrap-break-word link"
    href="https://github.com/maksimoreo/maksimoreo.github.io"
    target="_blank"
  >
    the source code
  </a>
</div>
