---
import ProjectSection from '../ProjectSection.astro'
import demoVtjmk from '../../assets/demo-vtjmk.mp4'
import Mui from '../pins/Mui.astro'
import Playwright from '../pins/Playwright.astro'
import Rails from '../pins/Rails.astro'
import React from '../pins/React.astro'
import ExternalSite from '../ExternalSite.astro'
---

<ProjectSection
  backgroundColor="#034ECC"
  isTextLeft={true}
  titleClasses={'text-gray-200'}
  descriptionClasses={'text-gray-300'}
>
  <Fragment slot="demo">
    <video id="cms-video" autoplay loop muted playsinline>
      <source src={demoVtjmk} type="video/mp4" />
    </video>

    <progress id="cms-video-progress-bar" class="video-progress-bar" max="100"
    ></progress>
  </Fragment>

  <Fragment slot="title">🧑‍🎓 Conference Management System</Fragment>

  <Fragment slot="short-description"
    >A web application for managing conferences, events, registrations, paper
    submissions, reviews and related documents.</Fragment
  >

  <Fragment slot="pins">
    <Rails size="size-4" withLabel={true} />
    <Mui />
    <React size="size-4" withLabel={true} />
    <Playwright />
  </Fragment>

  <Fragment slot="description">
    <p>Features:</p>

    <ul>
      <li class="text-justify">🔑 Authentication and Authorization</li>
      <li class="text-justify">
        📝 Rich text editor with multilingual support
      </li>
      <li class="text-justify">
        📃 MS Word and PDF file generation from user-provided template
      </li>
      <li class="text-justify">
        🧪 GitHub Actions CI with multiple workflows testing all application
        workflows
      </li>
    </ul>

    <p class="mt-6 text-justify">
      Conference Management System automates common workflows for conference
      organizers, researchers and reviewers. Organizers can create events and
      provide multilingual information, while researchers can submit papers for
      review by automatically assigned reviewers. The platform also supports
      generating documents such as participation certificates and participant
      lists from templates uploaded by organizers.
      <br />
      This project was developed as part of my Bachelor's thesis.
    </p>

    <div class="mt-6 mr-4 flex justify-between">
      <p class="italic font-light text-blue-300">2023, June</p>

      <p>
        <a
          href="https://github.com/mkvtech/vtjmk/"
          class="link-white"
          target="_blank"
        >
          GitHub <ExternalSite />
        </a>
      </p>
    </div>
  </Fragment>
</ProjectSection>

<script>
  import { startVideoProgressBar } from '../../scripts/video-progress-bar'

  startVideoProgressBar('cms-video')
</script>
