---
import ProjectSection from '../ProjectSection.astro'
import ExternalSite from '../ExternalSite.astro'
import Carousel from './ProjectMaxes/Carousel.astro'
import Python from '../pins/Python.astro'
import Qt from '../pins/Qt.astro'
import Jupyter from '../pins/Jupyter.astro'
---

<ProjectSection
  isTextLeft
  backgroundClasses="bg-white"
  titleClasses={'text-gray-900'}
  descriptionClasses={'text-gray-800'}
>
  <Carousel slot="demo" />

  <Fragment slot="title">📄 XES Log Generator</Fragment>

  <Fragment slot="short-description"
    >Generates domain-specific XES logs from a sample dataset</Fragment
  >

  <Fragment slot="pins">
    <Python withLabel textColorClass="text-gray-900" />
    <Qt />
    <Jupyter />
  </Fragment>

  <Fragment slot="description">
    <p>Features:</p>

    <ul>
      <li class="text-justify">🔬 XES file analysis and visualization tools</li>
      <li class="text-justify">
        🖥️ Native desktop UI for configuration and analysis
      </li>
      <li class="text-justify">🏗️ Synthetic XES file generation</li>
    </ul>

    <p class="mt-6 text-justify">
      XES file generator analyses a sample XES file and generates new log files
      that preserve the statistical properties and structure of the original
      dataset, including attribute domains, value ranges and trace sizes. The
      tool is designed to help users expand or reduce event logs for
      benchmarking, testing, and experimentation with process mining tools. The
      project includes a Qt desktop application, a CLI utility, and research
      notebooks used for experiments.
      <br />
      This project was developed as part of my Master's thesis.
    </p>

    <div class="mt-6 mr-4 flex justify-between">
      <p class="italic font-light text-gray-400">2025, May</p>

      <p>
        <a href="https://github.com/mkvtech/maxes" class="link" target="_blank">
          GitHub <ExternalSite />
        </a>
      </p>
    </div>
  </Fragment>
</ProjectSection>
