---
import ExternalSite from '../ExternalSite.astro'
import demoDockerIrl from '../../assets/demo-dockerirl.mp4'
import Csharp from '../pins/Csharp.astro'
import Docker from '../pins/Docker.astro'
import Unity from '../pins/Unity.astro'
import ProjectSection from '../ProjectSection.astro'
---

<ProjectSection
  backgroundColor="#2496ED"
  isTextLeft={true}
  titleClasses={'text-gray-200'}
  descriptionClasses={'text-gray-300'}
>
  <Fragment slot="demo">
    <video id="docker-irl-video" autoplay loop muted playsinline>
      <source src={demoDockerIrl} type="video/mp4" />
    </video>

    <progress
      id="docker-irl-video-progress-bar"
      class="video-progress-bar"
      max="100"></progress>
  </Fragment>

  <Fragment slot="title">⚓ DockerIRL</Fragment>

  <Fragment slot="short-description"
    >A professional 3D Docker management software to replace your current boring
    2D electron app.</Fragment
  >

  <Fragment slot="pins">
    <Unity variant="white" />
    <Csharp />
    <Docker size="size-4" withLabel={true} />
  </Fragment>

  <Fragment slot="description">
    <p>Features:</p>
    <ul>
      <li>🐋 Real-time synchronization with the Docker engine</li>
      <li>
        🖥️{' '}
        <a
          class="link-white"
          href="https://en.wikipedia.org/wiki/Pseudoterminal">PTY</a
        >
        -based terminal implementation in Unity
      </li>
    </ul>

    <p class="mt-6 text-justify">
      DockerIRL synchronizes with the Docker Engine and visualizes running
      containers as interactive 3D objects in a virtual environment. Containers
      are dynamically added and removed based on real-time Docker events and
      periodic engine queries. By default, each container is spawned with two
      attached terminals, one for viewing logs and another for accessing the
      container shell. These templates can be customized by the user. One of the
      most technically challenging aspects of the project was terminal
      emulation. The implementation uses libraries such as
      <a
        class="link-white"
        href="https://github.com/darrenstarr/VtNetCore"
        target="_blank">VtNetCore</a
      >,
      <a
        class="link-white"
        href="https://devblogs.microsoft.com/commandline/windows-command-line-introducing-the-windows-pseudo-console-conpty/"
        target="_blank">ConPTY</a
      >, and
      <a
        class="link-white"
        href="https://github.com/dotnet/Docker.DotNet"
        target="_blank">Docker.DotNet</a
      >.
    </p>

    <div class="mt-6 mr-4 flex justify-between">
      <p class="italic font-light text-blue-200">2023, August</p>

      <p>
        <a
          href="https://github.com/maksimoreo/DockerIRL/"
          class="link-white"
          target="_blank"
        >
          GitHub <ExternalSite />
        </a>
      </p>
    </div>
  </Fragment>
</ProjectSection>

<script>
  import { startVideoProgressBar } from '../../scripts/video-progress-bar'

  startVideoProgressBar('docker-irl-video')
</script>
